*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgba(12, 12, 12, 0.7);
    background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}

.container {
    /* max-width: 1180;
    padding: 0 15px;*/
    padding: 0 20px;
    max-width: 375px;
    margin: 0 auto;
}

.section {
    padding-top: 60px;
}



.header {
    /* padding: 26px 0;*/
    padding: 20px 0;
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav,
.social-list {
    display: none;
}

.logo {
    font-weight: 500;
    /* font-size: 20px;*/
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    /* padding: 6px 0;*/
    padding: 7px 0;
}

.burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.burger-icon {
    stroke: #0c0c0c;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.header-item {
    position: relative;
}

.header-link {
    display: block;
    padding: 4px 0 14px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #0c0c0c;
}

.current::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}



/*.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 128px;
}

.social-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}*/



/*HERO*/

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 20px;
}

.hero-title-accent {
    color: #3350e9;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 28px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 28px;
}

.hero-list {
    display: flex;

}

.hero-item {
    border-radius: 2px solid #fbfbfb;
    width: 44px;
    height: 44px
}

.hero-item:not(:first-child) {
    margin-left: -12px;
}

.hero-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-img {
    display: block;
    width: 335px;
    border-radius: 30px;
}

/*ABOUT*/


.about-wrapper {
    background-color: #f3f3f3;
    border-radius: 30px;
    max-width: 335px;
    height: auto;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 28px;
}

.about-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;

    background-color: #3350e9;
    border-radius: 16px;
    padding: 15px 38px;

    margin-top: 20px;
}

.about-image-wrapper {
    border-radius: 30px;
    width: 335px;
    height: 446px;
    overflow: hidden;
}

.about-image {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*CATALOG*/

.catalog-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 24px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.catalog-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;

    padding: 24px 28px;

    width: 335px;
    overflow: hidden;
}

.catalog-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.catalog-item-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 8px;
}

.catalog-item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.show-item {
    display: none;
}

.catalog-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;

    border-radius: 16px;
    background-color: #3350e9;
    padding: 15px 44px;
    margin: 0 auto;
}

/*CONTACTS*/

.contacts-container {
    background-image: linear-gradient(rgba(12, 12, 12, 0.8),
            rgba(12, 12, 12, 0.8)), url(../images/contacts-mob.jpg);

    background-color: #0c0c0c;
    max-width: 335px;
    height: 363px;
    border-radius: 30px;
    padding: 60px 28px;
}

.contacts-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 8px;
}

.contakts-title-accent {
    color: rgba(251, 251, 251, 0.5);
}

.contacts-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 43px 15px 44px;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
}

/*SALE*/
.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.sale-list {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.sale-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 15px) / 4);

    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    background-color: #f3f3f3;
    padding: 13px 14px;
}

.sale-item-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sale-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    width: 335px;
    height: 485px;
    background-color: #f3f3f3;
    padding: 50px;
    margin-bottom: 20px;
}

.sale-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sale-wrapper {
    border-radius: 30px;
    width: 335px;
    background-color: #3350e9;
    height: auto;
    padding: 48px 28px;
}

.sale-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.sale-text-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 10px;
}

.sale-text-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}

.sale-price {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfb;

    border-radius: 8px;
    background-color: rgba(251, 251, 251, 0.1);
    padding: 8px 12px;
    margin-bottom: 28px;
    margin-right: 9px;
}

.sale-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 28px;
}

.sale-list-watch {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sale-item-watch {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    padding: 7px 11px
}

/*REVIEWS*/
.reviews-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.reviews-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 32px 36px;
    width: 335px;
    height: auto;
    background-color: #f3f3f3;
}

.item-close {
    display: none;
}

.reviews-image-wrapper {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}

.reviews-image {
    display: block;
    width: 100%;
    height: auto;
}

.reviews-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    margin-bottom: 8px;
}

.reviews-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

/*CONTACT_FORM*/
.contact-form-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.contact-form-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 28px;

}

.contact-form-wrapper {
    border-radius: 30px;
    padding: 48px 28px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    outline: none;
}

.form-input::placeholder {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #0c0c0c;
}

.form-btn {
    padding: 12px 50px;
    background-color: #3350e9;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    margin-top: 10px;
}

.form-input-comment {
    height: 84px;
    resize: none;
}

.contact-image-wrapper {
    border-radius: 30px;
    width: 335px;
    height: 512px;
    overflow: hidden;
}

.contact-form-image {
    width: 100%;
    height: auto;
    object-fit: cover;

}