*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgba(12, 12, 12, 0.7);
    background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container {
    /* max-width: 1180;
    padding: 0 15px;*/
    padding: 0 20px;
    max-width: 375px;
    margin: 0 auto;
}

.section {
    padding-top: 60px;
}



.header {
    /* padding: 26px 0;*/
    padding: 20px 0;
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav,
.social-list {
    display: none;
}

.logo {
    font-weight: 500;
    /* font-size: 20px;*/
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    /* padding: 6px 0;*/
    padding: 7px 0;
}

.burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.burger-icon {
    stroke: #0c0c0c;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.header-item {
    position: relative;
}

.header-link {
    display: block;
    padding: 4px 0 14px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #0c0c0c;
}

.current::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}



/*.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 128px;
}

.social-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}*/



/*HERO*/

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 20px;
}

.hero-title-accent {
    color: #3350e9;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 28px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 28px;
}

.hero-list {
    display: flex;

}

.hero-item {
    border-radius: 2px solid #fbfbfb;
    width: 44px;
    height: 44px
}

.hero-item:not(:first-child) {
    margin-left: -12px;
}

.hero-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-img {
    display: block;
    width: 335px;
    border-radius: 30px;
}

/*ABOUT*/


.about-wrapper {
    background-color: #f3f3f3;
    border-radius: 30px;
    max-width: 335px;
    height: auto;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 28px;
}

.about-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;

    background-color: #3350e9;
    border-radius: 16px;
    padding: 15px 38px;

    margin-top: 20px;
}

.about-image-wrapper {
    border-radius: 30px;
    width: 335px;
    height: 446px;
    overflow: hidden;
}

.about-image {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*CATALOG*/

.catalog-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 24px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.catalog-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;

    padding: 24px 28px;

    width: 335px;
    overflow: hidden;
}

.catalog-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.catalog-item-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 8px;
}

.catalog-item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.show-item {
    display: none;
}

.catalog-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;

    border-radius: 16px;
    background-color: #3350e9;
    padding: 15px 44px;
    margin: 0 auto;
}

/*CONTACTS*/

.contacts-container {
    background-image: linear-gradient(rgba(12, 12, 12, 0.8),
            rgba(12, 12, 12, 0.8)), url(../images/contacts-mob.jpg);

    background-color: #0c0c0c;
    max-width: 335px;
    height: 363px;
    border-radius: 30px;
    padding: 60px 28px;
}

.contacts-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 8px;
}

.contakts-title-accent {
    color: rgba(251, 251, 251, 0.5);
}

.contacts-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 43px 15px 44px;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
}

/*SALE*/